In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Analyze sales data to identify opportunities for growth and optimization.

In [5]:
path='../data/prueba3.csv'

In [7]:
dtype_spec = {
    19: 'str',   # or 'int', 'float', etc., depending on your data
    20: 'str',   # change 'str' to the appropriate data type
    21: 'str',   # for each column
    22: 'str'
}

In [8]:
resta_df_original = pd.read_csv(path,on_bad_lines='skip', sep=',', dtype=dtype_spec, low_memory=False)

In [9]:
#Make a copy from the original dataset
resta_df = resta_df_original.copy()

## Exploratory Data Analysis

In [10]:
resta_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505575 entries, 0 to 505574
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id_pedido             505575 non-null  int64
 1   fecha_sistema         505575 non-null  object
 2   hora                  505575 non-null  object
 3   clasificador_grupo    505575 non-null  object
 4   clasificacion         474780 non-null  object
 5   producto              505575 non-null  object
 6   state                 505575 non-null  object
 7   precio                505575 non-null  float64
 8   cantidad              505575 non-null  int64
 9   a_pagar_xprod         505575 non-null  float64
 10  pago_pedido_tot       505575 non-null  float64
 11  product_observations  103879 non-null  object
 12  tipo_forma_pago       505575 non-null  object
 13  monto                 505575 non-null  float64
 14  observaciones_pedido  0 non-null       float64
 15  pagado_cliente        505575 non-null  float64
 16  cambio                505575 non-null  float64
 17  ubicacion             505575 non-null  object
 18  numero_pedido         505575 non-null  int64
 19  fecha_modificacion    47 non-null      object
 20  motivo_modificacion   47 non-null      object
 21  es_anulado            47 non-null      object
 22  es_cortesia           503679 non-null  object
 23  estado                505575 non-null  object
 24  saldo_inicial         505575 non-null  float64
 25  saldo_final           504443 non-null  float64
 26  stateprod             505575 non-null  object
dtypes: float64(9), int64(3), object(15)
memory usage: 104.1+ MB

In [12]:
resta_df.shape

(505575, 27)

In [14]:
resta_df.size

13650525

In [15]:
resta_df.head()

,id_pedido,fecha_sistema,hora,clasificador_grupo,clasificacion,producto,state,precio,cantidad,a_pagar_xprod,...,ubicacion,numero_pedido,fecha_modificacion,motivo_modificacion,es_anulado,es_cortesia,estado,saldo_inicial,saldo_final,stateprod
0,3208,2016-07-05,21:46:33.0000000,MENU,Sandwiches,Niki's club,ACTIVO,18.0,1,18.0,...,0 - Para llevar,2,NaN,NaN,NaN,NaN,CERRADO,500.0,620.0,ACTIVO
1,3209,2016-07-05,22:00:30.0000000,MENU,Sandwiches,Sand de Pollo BBQ,ACTIVO,20.0,1,20.0,...,1 - Mesa 1,3,NaN,NaN,NaN,NaN,CERRADO,500.0,620.0,ACTIVO
2,3210,2016-07-05,23:04:04.0000000,MENU,Fingers,Fingers miel,ACTIVO,22.0,1,22.0,...,0 - Para llevar,3,NaN,NaN,NaN,NaN,CERRADO,500.0,620.0,ACTIVO
3,3210,2016-07-05,23:04:04.0000000,BEBIDAS,jugos - aguas,Aquarius 500,ACTIVO,8.0,1,8.0,...,0 - Para llevar,3,NaN,NaN,NaN,NaN,CERRADO,500.0,620.0,ACTIVO
4,3211,2016-07-07,23:03:19.0000000,MENU,Alitas 8 UNIDADES,Alitas Barbacoa,ACTIVO,27.0,1,27.0,...,20 - Mesa 20,1,NaN,NaN,NaN,NaN,CERRADO,500.0,0.0,ACTIVO

In [17]:
resta_df.columns

Index(['id_pedido', 'fecha_sistema', 'hora', 'clasificador_grupo',
       'clasificacion', 'producto', 'state', 'precio', 'cantidad',
       'a_pagar_xprod', 'pago_pedido_tot', 'product_observations',
       'tipo_forma_pago', 'monto', 'observaciones_pedido', 'pagado_cliente',
       'cambio', 'ubicacion', 'numero_pedido', 'fecha_modificacion',
       'motivo_modificacion', 'es_anulado', 'es_cortesia', 'estado',
       'saldo_inicial', 'saldo_final', 'stateprod'],
      dtype='object')

In [18]:
#Change column names
resta_df.columns=['order_id', 'system_date', 'time', 'group_classifier',
        'classification', 'product', 'prod_state', 'price', 'quantity',
        'to_pay_xprod', 'tot_order_payment', 'product_observations',
        'type_payment_form', 'amount', 'order_observations', 'customer_pay',
        'change', 'location', 'order_number', 'modification_date',
        'modification_reason', 'is_cancelled', 'is_courtesy', 'status',
        'start_balance', 'end_balance', 'stateprod']

### Reviewing data types

In [20]:
resta_df.dtypes

order_id                  int64
system_date              object
time                     object
group_classifier         object
classification           object
product                  object
prod_state               object
price                   float64
quantity                  int64
to_pay_xprod            float64
tot_order_payment       float64
product_observations     object
type_payment_form        object
amount                  float64
order_observations      float64
customer_pay            float64
change                  float64
location                 object
order_number              int64
modification_date        object
modification_reason      object
is_cancelled             object
is_courtesy              object
status                   object
start_balance           float64
end_balance             float64
stateprod                object
dtype: object

In [21]:
# Convert data type to date time
resta_df['system_date'] = pd.to_datetime(resta_df['system_date'], format='%Y-%m-%d')

In [22]:
resta_df['time'] = pd.to_datetime(resta_df['time'], format='%H:%M:%S.%f')

### Understanding columns type

In [23]:
# categorical columns 
categoric_col = [col for col in resta_df.columns if resta_df[col].dtype == 'object']
print(f'Categorical columns are: {categoric_col}')

Categorical columns are: ['group_classifier', 'classification', 'product', 'prod_state', 'product_observations', 'type_payment_form', 'location', 'modification_date', 'modification_reason', 'is_cancelled', 'is_courtesy', 'status', 'stateprod']

In [24]:
# numeric columns
numeric_col =[col for col in resta_df.columns if resta_df[col].dtype !='object']
print(f'Numeric columns are: {numeric_col}')

Numeric columns are: ['order_id', 'system_date', 'time', 'price', 'quantity', 'to_pay_xprod', 'tot_order_payment', 'amount', 'order_observations', 'customer_pay', 'change', 'order_number', 'start_balance', 'end_balance']

In [25]:
# numerical but categorical variables
num_but_categorical=[col for col in numeric_col if resta_df[col].nunique() <10]
print(f'Numeric but categorical columns are: {num_but_categorical}')

Numeric but categorical columns are: ['order_observations']

In [26]:
# Adding num_but_cat to cat_cols
categoric_col = num_but_categorical + categoric_col
print(f'Categorical columns are: {categoric_col}')

Categorical columns are: ['order_observations', 'group_classifier', 'classification', 'product', 'prod_state', 'product_observations', 'type_payment_form', 'location', 'modification_date', 'modification_reason', 'is_cancelled', 'is_courtesy', 'status', 'stateprod']

In [27]:
numeric_datetime=['system_date', 'time', 'modification_date']

numeric_col = [col for col in numeric_col if col not in numeric_datetime and col not in num_but_categorical]

# id_cols removing from num_cols
id_cols=['order_id', 'order_payment_id', 'order_number']
numeric_col=[col for col in numeric_col if col not in id_cols]

print(f"Numerical Cols: {numeric_col} \nCategorical Cols: {categoric_col} \nNumerical but Categorical: {num_but_categorical}")

Numerical Cols: ['price', 'quantity', 'to_pay_xprod', 'tot_order_payment', 'amount', 'customer_pay', 'change', 'start_balance', 'end_balance']
Categorical Cols: ['order_observations', 'group_classifier', 'classification', 'product', 'prod_state', 'product_observations', 'type_payment_form', 'location', 'modification_date', 'modification_reason', 'is_cancelled', 'is_courtesy', 'status', 'stateprod']
Numerical but Categorical: ['order_observations']

## EDA

### Missing values

In [28]:
#Determining how many values are null in percentage.
((resta_df.isna().sum()/resta_df.shape[0])*100).sort_values(ascending=False)

order_observations      100.000000
is_cancelled             99.990704
modification_reason      99.990704
modification_date        99.990704
product_observations     79.453296
classification            6.091084
is_courtesy               0.375019
end_balance               0.223903
order_id                  0.000000
customer_pay              0.000000
start_balance             0.000000
status                    0.000000
order_number              0.000000
location                  0.000000
change                    0.000000
amount                    0.000000
system_date               0.000000
type_payment_form         0.000000
tot_order_payment         0.000000
to_pay_xprod              0.000000
quantity                  0.000000
price                     0.000000
prod_state                0.000000
product                   0.000000
group_classifier          0.000000
time                      0.000000
stateprod                 0.000000
dtype: float64

Since 'order_observations' has 100% of NaN values, is better to erase the entire column.

In [29]:
resta_df.drop(columns='order_observations', axis=1, inplace=True)

In [30]:
categoric_col.remove('order_observations')
categoric_col

['group_classifier',
 'classification',
 'product',
 'prod_state',
 'product_observations',
 'type_payment_form',
 'location',
 'modification_date',
 'modification_reason',
 'is_cancelled',
 'is_courtesy',
 'status',
 'stateprod']

#### NULL VALUES IN 'is_canceled column' 
'is cancelled' is equivalent to say that an order has been annuled

In [31]:
resta_df['is_cancelled'].value_counts()

is_cancelled
True    47
Name: count, dtype: int64

In [32]:
#Get how many values are NAN in is cancelled column
resta_df['is_cancelled'].isna().sum()

505528

In [41]:
#In which cases there was reported as 'cancelled'
resta_df.loc[resta_df['is_cancelled']=='True', ['product','classification']].sample(5)

                          product      classification
212707            HAMBURGUESA BBQ            Burguers
20911             Alitas Barbacoa   Alitas 8 UNIDADES
226722  ALITAS ALBAHACA Y HIERBAS   Alitas 8 UNIDADES
212706        HAMBURGUESA CLASICA            Burguers
272917         ALITAS BBQ 16 UNID  ALITAS 16 UNIDADES

In [42]:
# If there was a customer who paid and there was a change given, so there has been a purchase completed. 
# Accordingly, couldn't be cancelled
resta_df.loc[(resta_df['is_cancelled']=='True'),['product','to_pay_xprod','tot_order_payment','customer_pay','change','is_cancelled']].sample(5)

,product,to_pay_xprod,tot_order_payment,customer_pay,change,is_cancelled
200879,Salchibeef,20.0,150.0,150.0,0.0,True
19761,Costillitas,76.0,76.0,76.0,0.0,True
82779,Alitas Miel Mostaza,27.0,54.0,54.0,0.0,True
46384,Salsa Picante,3.0,3.0,3.0,0.0,True
272917,ALITAS BBQ 16 UNID,55.0,55.0,55.0,0.0,True

##### Eventhough products which have status in 'is_cancelled' in True, were charged anyway. Which seems as an interesting input to analyze the owner. 
Paid customer, change and is_cancelled are not columns which reflect any important insight, since those seem to be erroneus values placed.

##### Analyze missing assingments 
All products which haven't been cancelled should have 'is_cancelled' status to False, and just 4 of them have it. So next step is fixing this issue.

In [46]:
#NaN values in is_cancelled should be placed in False, since those orders were not cancelled 
resta_df[['product','is_cancelled','tot_order_payment','customer_pay','change']][resta_df['is_cancelled'].isna()].sample(5)

,product,is_cancelled,tot_order_payment,customer_pay,change
185468,STROGONOFF,NaN,65.0,65.0,0.0
235039,Alitas Barbacoa,NaN,62.0,62.0,0.0
443236,COMBO DIA DEL PADRE,NaN,59.0,59.0,0.0
17276,Salchibeef,NaN,44.0,44.0,0.0
147072,Black Sour,NaN,112.0,112.0,0.0

In [47]:
#To all NaN values in 'is_cancelled' place False.
resta_df['is_cancelled'].fillna('False', inplace=True)

In [48]:
resta_df['is_cancelled'].isna().sum()

0

#### NaN values in 'classification' column

In [49]:
resta_df['classification'].isna().sum()

30795

In [51]:
resta_df[['classification','product']][resta_df['classification'].isna()].sample(5)

       classification            product
381599            NaN    Del valle 1 Ltr
176651            NaN      Salsa Picante
214317            NaN  Papas adicionales
310497            NaN     salsa albahaca
351291            NaN     salsa teriyaki

According to the data source whenever there are null values in parent_product, means that parent product value is equal to product.

In [53]:
#Fill null values with values which are in column product 
#resta_df['classification'].fillna(resta_df['product'], inplace=True)

resta_df.fillna({'classification': 'product'}, inplace=True)

In [54]:
resta_df['classification'].isna().sum()

0

#### NaN values in modification_reason column.
modification_reason, modification_dates, modification_time are related to is_cancelled column, meaning that whenever there is a cancellation there will be data in these columns, otherwise only False in is_cancelled column. NaN values qdont require to be erased yet, but NAN values in 'modification_reason'  could be replaced by 'Ninguna'.

In [55]:
resta_df['modification_reason'].isna().sum()

505528

In [57]:
resta_df[['modification_date','modification_reason','is_cancelled']][resta_df['modification_date'].isna()].sample(5)

       modification_date modification_reason is_cancelled
426264               NaN                 NaN        False
93902                NaN                 NaN        False
395031               NaN                 NaN        False
239649               NaN                 NaN        False
445783               NaN                 NaN        False

In [59]:
resta_df[~resta_df['modification_reason'].isna()].sample(5)

,order_id,system_date,time,group_classifier,classification,product,prod_state,price,quantity,to_pay_xprod,...,location,order_number,modification_date,modification_reason,is_cancelled,is_courtesy,status,start_balance,end_balance,stateprod
46384,84231,2017-07-19,1900-01-01 20:50:19,OTROS,Salsa Picante,Salsa Picante,ACTIVO,3.0,1,3.0,...,. - Sin Mesa,69,2017-07-19 21:19:23.297000000,NO SALIO,True,False,CERRADO,0.0,0.0,ACTIVO
123427,219853,2018-07-26,1900-01-01 15:10:00,MENU,Platos,CHILI MEXIC,ACTIVO,20.0,8,160.0,...,0 - Para llevar,50,2018-07-26 17:30:17.573000000,porq ue se canselo su reunion,True,False,CERRADO,0.0,0.0,ACTIVO
82780,140023,2018-02-02,1900-01-01 21:58:49,MENU,Alitas 8 UNIDADES,Alitas Barbacoa,ACTIVO,27.0,1,27.0,...,0 - Para llevar,143,2018-02-02 21:59:22.433000000,que solo queria una sola alaita,True,False,CERRADO,0.0,0.0,ACTIVO
205850,348514,2019-05-18,1900-01-01 15:45:39,BEBIDAS,1 LT,Coca Cola 1LT,ACTIVO,12.0,1,12.0,...,1 - Mesa 1,60,2019-05-18 15:48:24.257000000,NO HY,True,False,CERRADO,0.0,0.0,ACTIVO
212708,359968,2019-06-08,1900-01-01 13:33:36,MENU,Alitas 8 UNIDADES,Alitas Picantes,ACTIVO,28.0,1,28.0,...,17 - Mesa 17,25,2019-06-08 13:57:29.483000000,PSO DE TIEMPO,True,False,CERRADO,0.0,0.0,ACTIVO

In [60]:
resta_df.loc[resta_df['modification_reason'].isna(),'modification_reason']='Ninguna'

In [61]:
resta_df['modification_reason'].isna().sum()

0